---
- name: "Debug"
  debug:
    var: "{{ item }}"
  loop: "{{ foreman_compute_resources | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  when: foreman_debug

- name: "Setup compute resources"
  theforeman.foreman.compute_resource:
    name: "{{ item.name | mandatory }}"
    provider: "{{ item.provider | default('libvirt') }}"
    provider_params:
      url: "{{ item.url | default('qemu+tcp://' ~ item.name ~ '/system') }}"
      display_type: "{{ item.display_type | default('vnc') }}"
      set_console_password: "{{ item.set_console_password | default(false) }}"
    state: "{{ item.state | default('present') }}"
    username: "{{ foreman_username }}"
    password: "{{ foreman_password }}"
    server_url: "{{ foreman_server_url }}"
    validate_certs: "{{ foreman_validate_certs | default('true') }}"
  loop: "{{ foreman_compute_resources | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
